[Unit]
Description=ddns

[Service]
WorkingDirectory=/var/www/ddns
#ExecStart=/usr/bin/dotnet /var/www/ddns/ddns.dll
ExecStart=/root/dotnet/dotnet /var/www/ddns/ddns.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target